.player {
  background-color: hsl(220, 13%, 18%);
  height: var(--playerHeight);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.seek-bar-wrapper {
  height: 5px;
  width: 100%;
  padding: 11px 0;
  position: absolute;
  top: -15%;
  cursor: pointer;
  z-index: 5;
  // border: 1px white solid;

  .seek-bar {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 15%;
    background-color: green;
    transition: height transform 0.1s linear;
  }
  &:hover .seek-bar {
    height: 40%;
    transform: translateY(-2px);
    transition: height transform 0.5s linear;
    transition: width 0.05s linear;
  }

  .seek-bar.currently-seeking {
    height: 40%;
    transform: translateY(-2px);
    transition: width 0.05s linear;
  }
}

.control-buttons {
  display: grid;
  grid-template-columns: 0.85fr 1fr 0.85fr;
  height: 100%;

  //common button styling
  button {
    height: 3.5em;
    width: 3.5em;
    position: relative;

    &:hover svg {
      // box-shadow: 0 0 15px #ffffff;
      // border-radius: 20%;
      fill: #ffffff;
      filter: blur(0.6px);
      transform: scale(1.1);
      transition: all 0.1s linear;
    }

    svg {
      fill: hsl(0, 0%, 80%);
      transition: all 0.1s linear;
    }
  }

  .repeat {
    // margin: auto;
    height: 2em;
    width: 2em;
    justify-self: end;
    align-self: center;
    position: relative;
  }

  .repeat.active {
    color: white;
  }

  .repeat.active::after {
    content: '1';
    font-size: 0.8em;
    position: absolute;
    top: 27%;
    left: 36%;
    color: hsl(0, 0%, 80%);
    transition: all 0.1s linear;
  }

  .repeat.active:hover::after {
    color: white;
    filter: blur(0.5px);
    transform: scale(1.18);
    transition: all 0.1s linear;
  }

  .playpause-seek-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    .rewind-10-sec,
    .skip-10-sec {
      height: 2.1em;
      width: 2.1em;
      position: relative;

      &::after {
        content: '10';
        color: hsl(0, 0%, 80%);
        font-size: 0.8em;
        top: 27%;
        left: 27%;
        position: absolute;
        transition: all 0.1s linear;
      }

      &:hover::after {
        color: white;
        filter: blur(0.4px);
        transform: scale(1.18);
        transition: all 0.1s linear;
      }
    }

    .play-pause {
      height: 5em;
      width: 5em;
      margin: 0;
    }

    .prev,
    .next {
      height: 3.5em;
      width: 3.5em;
    }
  }

  .volume-controls-wrapper {
    justify-self: start;
    align-self: center;
    position: relative;

    .volume-icon {
      height: 2em;
      width: 2em;
      margin: auto;
    }

    .input-range {
      position: absolute;
      left: 110%;
      top: 29%;
      height: 1rem;
      width: 7em;
      // visibility: hidden;

      & > span {
        display: none;
      }

      .input-range__track {
        background-color: #eeeeee;
        border-radius: 1rem;
        cursor: pointer;
        display: block;
        height: 0.3rem;
        position: relative;
        // transition: left 0.3s ease-out, width 0.3s ease-out;

        .input-range__track--active {
          background-color: #eeeeee;
        }

        .input-range__slider-container {
          transition: left 0.1s ease-out;

          & > span {
            display: none;
          }

          .input-range__slider {
            -webkit-appearance: none;
            appearance: none;
            background: #eeeeee;
            border: 1px solid #eeeeee;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            margin-left: -0.5rem;
            margin-top: -0.9rem;
            outline: none;
            position: absolute;
            top: 50%;
            transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
          }
        }
      }

      .input-range__track--background {
        left: 0;
        margin-top: -0.15rem;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .control-buttons {
    .repeat {
      height: 1.8em;
      width: 1.8em;
    }

    .playpause-seek-buttons {
      .rewind-10-sec,
      .skip-10-sec {
        height: 1.9em;
        width: 1.9em;
      }

      .play-pause {
        height: 4em;
        width: 4em;
      }

      .prev,
      .next {
        height: 3.2em;
        width: 3.2em;
      }
    }

    .volume-controls-wrapper {
      .volume-icon {
        height: 1.8em;
        width: 1.8em;
      }

      .input-range {
        width: 4.8em;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .repeat {
    margin-right: 0.3em;
  }

  .volume-controls-wrapper {
    margin-left: 0.3em;
  }

  .input-range {
    display: none;
  }
}
