@import './bodyStyles';
@import './trackListStyles';
@import './playerStyles';
@import './variables';

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
  font-weight: bold;
  color: hsla(255, 255, 255, 0.8);
  background-color: hsl(0, 0%, 18.82%);
}

.App {
  // width: 100vw;
  height: 100vh;
  position: relative;
}

button {
  appearance: none;
  padding: none;
  background: none;
  // border: 1px solid black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

svg {
  padding: 0;
}
